In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv('../DATA/monster_com-job_sample.csv')

In [40]:
df.head

<bound method NDFrame.head of                         country country_code date_added has_expired  \
0      United States of America           US        NaN          No
1      United States of America           US        NaN          No
2      United States of America           US        NaN          No
3      United States of America           US        NaN          No
4      United States of America           US        NaN          No
...                         ...          ...        ...         ...
21995  United States of America           US        NaN          No
21996  United States of America           US        NaN          No
21997  United States of America           US        NaN          No
21998  United States of America           US        NaN          No
21999  United States of America           US        NaN          No

              job_board                                    job_description  \
0      jobs.monster.com  TeamSoft is seeing an IT Support Specialist to...
1      jobs.monster.com  The Wisconsin State Journal is seeking a flexi...
2      jobs.monster.com  Report this job About the Job DePuy Synthes Co...
3      jobs.monster.com  Why Join Altec? If you’re considering a career...
4      jobs.monster.com  Position ID#  76162 # Positions  1 State  CT C...
...                 ...                                                ...
21995  jobs.monster.com  This is a major premier Cincinnati based finan...
21996  jobs.monster.com  Luxury homebuilder in Cincinnati seeking multi...
21997  jobs.monster.com  RE: Adobe AEM-          Client -          Loca...
21998  jobs.monster.com  Jernberg Industries was established in 1937 an...
21999  jobs.monster.com  Contract AdministratorCan you be the point per...

                                               job_title             job_type  \
0                   IT Support Technician Job in Madison   Full Time Employee
1                Business Reporter/Editor Job in Madison            Full Time
2      Johnson & Johnson Family of Companies Job Appl...  Full Time, Employee
3                        Engineer - Quality Job in Dixon            Full Time
4           Shift Supervisor - Part-Time Job in Camphill   Full Time Employee
...                                                  ...                  ...
21995  Assistant Vice President - Controller Job in C...            Full Time
21996                       Accountant Job in Cincinnati            Full Time
21997                    AEM/CQ developer Job in Chicago            Full Time
21998  Electrician - Experienced Forging Electrician ...   Full Time Employee
21999           Contract Administrator Job in Cincinnati            Full Time

                                                location  \
0                                      Madison, WI 53702
1                                      Madison, WI 53708
2      DePuy Synthes Companies is a member of Johnson...
3                                              Dixon, CA
4                                           Camphill, PA
...                                                  ...
21995                                     Cincinnati, OH
21996                               Cincinnati, OH 45236
21997                                  Chicago, IL 60602
21998                                  Chicago, IL 60609
21999                                     Cincinnati, OH

                                         organization  \
0                                                 NaN
1                             Printing and Publishing
2                     Personal and Household Services
3                                    Altec Industries
4                                              Retail
...                                               ...
21995                                             NaN
21996  Construction - Residential & Commercial/Office
21997                                             NaN
21998                       Jernberg Industries, Inc.
21999                                             NaN

                                                page_url  \
0      http://jobview.monster.com/it-support-technici...
1      http://jobview.monster.com/business-reporter-e...
2      http://jobview.monster.com/senior-training-lea...
3      http://jobview.monster.com/engineer-quality-jo...
4      http://jobview.monster.com/shift-supervisor-pa...
...                                                  ...
21995  http://jobview.monster.com/Assistant-Vice-Pres...
21996  http://jobview.monster.com/Accountant-Job-Cinc...
21997  http://jobview.monster.com/AEM-CQ5-developer-J...
21998  http://jobview.monster.com/Electrician-Experie...
21999  http://jobview.monster.com/Contract-Administra...

                                                  salary  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
21995               120,000.00 - 160,000.00 $ /yearbonus
21996                      45,000.00 - 60,000.00 $ /year
21997                                                NaN
21998                              25.00 - 28.00 $ /hour
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...

                                      sector                           uniq_id
0                    IT/Software Development  11d599f229a80023d2f40e7c52cd941e
1                                        NaN  e4cbb126dabf22159aff90223243ff2a
2                                        NaN  839106b353877fa3d896ffb9c1fe01c0
3                  Experienced (Non-Manager)  58435fcab804439efdcaa7ecca0fd783
4                 Project/Program Management  64d0272dc8496abfd9523a8df63c184c
...                                      ...                               ...
21995                                    NaN  a80bc8cc3a90c17eef418963803bc640
21996  Manager (Manager/Supervisor of Staff)  419a3714be2b30a10f628de207d041de
21997                                    NaN  5a590350b73b2cec46b05750a208e345
21998        Installation/Maintenance/Repair  40161cf61c283af9dc2b0a62947a5f1b
21999              Experienced (Non-Manager)  cb49f16ad72627b109e434e0cac97f7a

[22000 rows x 14 columns]>

In [41]:
df.shape

(22000, 14)

In [42]:
df.isna().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

In [43]:
df['job_type'].head

<bound method NDFrame.head of 0         Full Time Employee
1                  Full Time
2        Full Time, Employee
3                  Full Time
4         Full Time Employee
                ...
21995              Full Time
21996              Full Time
21997              Full Time
21998     Full Time Employee
21999              Full Time
Name: job_type, Length: 22000, dtype: object>

In [44]:
df['organization'].head

<bound method NDFrame.head of 0                                                   NaN
1                               Printing and Publishing
2                       Personal and Household Services
3                                      Altec Industries
4                                                Retail
                              ...
21995                                               NaN
21996    Construction - Residential & Commercial/Office
21997                                               NaN
21998                         Jernberg Industries, Inc.
21999                                               NaN
Name: organization, Length: 22000, dtype: object>

In [45]:
# Drop Salary and date_added

df.drop(columns=['date_added','salary'], axis=1, inplace=True)

In [46]:
df

,country,country_code,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,sector,uniq_id
0,United States of America,US,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...,...,...
21995,United States of America,US,No,jobs.monster.com,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,NaN,a80bc8cc3a90c17eef418963803bc640
21996,United States of America,US,No,jobs.monster.com,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,United States of America,US,No,jobs.monster.com,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,5a590350b73b2cec46b05750a208e345
21998,United States of America,US,No,jobs.monster.com,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,United States of America,US,No,jobs.monster.com,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

In [47]:
df.isna().sum()

country               0
country_code          0
has_expired           0
job_board             0
job_description       0
job_title             0
job_type           1628
location              0
organization       6867
page_url              0
sector             5194
uniq_id               0
dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   has_expired      22000 non-null  object
 3   job_board        22000 non-null  object
 4   job_description  22000 non-null  object
 5   job_title        22000 non-null  object
 6   job_type         20372 non-null  object
 7   location         22000 non-null  object
 8   organization     15133 non-null  object
 9   page_url         22000 non-null  object
 10  sector           16806 non-null  object
 11  uniq_id          22000 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB

In [83]:
df.describe()

,country,country_code,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,sector,uniq_id
count,22000,22000,22000,22000,22000,22000,20372,22000,15133,22000,16806,22000
unique,1,1,1,1,18744,18759,39,8423,738,22000,163,22000
top,United States of America,US,No,jobs.monster.com,12N Horizontal Construction Engineers Job Desc...,Monster,Full Time,"Dallas, TX",Healthcare Services,http://jobview.monster.com/it-support-technici...,Experienced (Non-Manager),11d599f229a80023d2f40e7c52cd941e
freq,22000,22000,22000,22000,104,318,6757,646,1919,1,4594,1

In [84]:
df['organization'].value_counts()

organization
Healthcare Services                                                                                        1919
All                                                                                                        1158
Retail                                                                                                     1081
Other/Not Classified                                                                                       1048
Manufacturing - Other                                                                                       885
                                                                                                           ...
Printing and Publishing Architectural and Design ServicesConstruction - Residential & Commercial/Office       1
Construction - Industrial Facilities and InfrastructureManufacturing - Other                                  1
Automotive and Parts Mfg; Manufacturing - Other; Retail                                                       1
Tifco Industries, Inc.                                                                                        1
Jernberg Industries, Inc.                                                                                     1
Name: count, Length: 738, dtype: int64

In [85]:
df['job_type'].value_counts()

job_type
Full Time                                        6757
Full Time Employee                               6617
Full Time, Employee                              3360
Full Time Temporary/Contract/Project             1062
Full Time, Temporary/Contract/Project             533
Full Time , Employee                              406
Part Time Employee                                382
Part Time                                         329
Part Time, Employee                               196
Temporary/Contract/Project                        193
Employee                                          147
Full Time / Employee                              121
Full Time , Temporary/Contract/Project             56
Part Time, Temporary/Contract/Project              34
Per Diem, Employee                                 29
Per Diem                                           22
Job Type Full Time Employee                        19
Part Time Seasonal                                 17
Part Time/ Temporary/Contract/Project              16
Full Time                                          14
Full Time/ Employee                                13
Per Diem Employee                                  12
Part Time Temporary/Contract/Project                6
Full Time Intern                                    5
Per Diem, Temporary/Contract/Project                4
Part Time , Employee                                4
Part Time Intern                                    2
Job Type Full Time Temporary/Contract/Project       2
Part Time / Employee                                2
Job Type Full Time                                  2
Job Type Part Time Employee                         2
Full Time / > Employee                              1
Part Time                                           1
Full Time  Employee                                 1
Full Time / Temporary/Contract/Project              1
Part Time, Intern                                   1
Part Time , Temporary/Contract/Project              1
Exempt                                              1
Job Type Employee                                   1
Name: count, dtype: int64

In [52]:
df_mini = df.iloc[:5,]

In [53]:
df_mini

,country,country_code,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,sector,uniq_id
0,United States of America,US,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,Project/Program Management,64d0272dc8496abfd9523a8df63c184c